<div class="card theme-canvas border">
  <div class="card__head border-bottom">
    <p>Tropical flowers</p>
  </div>

  <div class="card__body">
    <h2 class="h4">Gustavia superba</h2>
    <p>
      Gustavia superba is an understory tree that grows in
      <a href="#1">Central</a> and north-western
      <a href="#1">South America</a>.
    </p>
  </div>

  <div class="card__foot border-top font-size-md text-color-link">
    <ul class="nav nav--horizontal justify-content-between">
      <li><a href="#1">Search Images</a></li>
      <li><a class="button button--outline" href="#1">Visit Wikipedia</a></li>
    </ul>
  </div>
</div>
