/*

In this file:

// A. Collapse Utility

*/

//////////////////////////////////////////////
// A. Collapse Utility
//////////////////////////////////////////////

    .button[aria-expanded="true"] {
        --subtle-fill-opacity: .15;
    }


.collapse {
    display: none;
    
    &.shown {
        display: block;
    }
}