<div class="grid grid--column-2--md gap-3">
  <button
    class="lightbox-thumbnail"
    data-lightbox="image"
    data-lightbox-src="/story-assets/sample-landscape.jpg"
    data-lightbox-caption="Mountain landscape"
  >
    <img src="/story-assets/sample-landscape.jpg" alt="Mountain landscape" />
  </button>

  <button
    class="lightbox-thumbnail"
    data-lightbox="video"
    data-lightbox-src="/story-assets/sample-video-1.mp4"
    data-lightbox-caption="Video one"
  >
    <img src="/story-assets/sample-video-1-thumbnail.jpg" alt="Video one thumbnail" />
  </button>
</div>
