@use '@natura11y/core/src/scss/assistive' as *;

.example__code--shiki {
	--code-example-line-height: 1.25;
	--code-background-color: #fff;
	--code-line-highlight-tint: hsla(250, 15%, 70%, 0.15);

	background-color: var(--code-background-color);
}

@mixin dark-colors() {
	--code-background-color: hsla(0, 0%, 100%, 0.03);
	--code-line-highlight-tint: hsla(215, 0%, 75%, 0.1);
}

.theme-dark .example__code--shiki {
	@include dark-colors();
}

pre.astro-code {
	max-width: 100%;

	overflow-x: auto;

	margin: 0;
	padding: var(--spacer-4) var(--spacer-3);

	font-size: var(--font-size-md);
	font-family: var(--code-font-family);
	line-height: var(--code-example-line-height);

	text-align: start;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	tab-size: 4;
	hyphens: none;

	&[data-line] {
		padding-inline: var(--spacer-4);
	}

	code {
		display: block;
		background-color: transparent;
		border-radius: 0;
		padding: 0;
	}

	.line {
		display: block;
	}

	.shiki-line-highlight {
		position: relative;

		margin-inline: calc(var(--spacer-4) * -1);
		padding-inline: var(--spacer-4);
		padding-inline-start: var(--spacer-5);

		border-left: var(--border-width) solid var(--primary);

		background: linear-gradient(
			to right,
			var(--code-line-highlight-tint),
			hsla(0, 0%, 100%, 0)
		);

		background-size: 400px 100%;
		background-repeat: no-repeat;

		&::before {
			content: attr(data-line-number);

			position: absolute;
			inset-block-start: 0;
			inset-inline-start: var(--spacer-2);

			font-size: var(--font-size-md);
			font-weight: bold;
			line-height: inherit;

			color: var(--primary);
		}
	}

	&:focus-visible {
		@extend %focus-visible;
	}
}

.theme-dark .astro-code,
.theme-dark .astro-code span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}
