<table class="table">
  <caption>Places with columnar jointed volcanics</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Country</th>
      <th scope="col" class="text-align-right">Map View</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Giant's Causeway</td>
      <td>Northern Ireland</td>
      <td class="text-align-right"><a href="#1">Map View</a></td>
    </tr>
    <tr>
      <td>Fingal's Cave</td>
      <td>Scotland</td>
      <td class="text-align-right"><a href="#1">Map View</a></td>
    </tr>
    <tr>
      <td>Garni Gorge</td>
      <td>Armenia</td>
      <td class="text-align-right"><a href="#1">Map View</a></td>
    </tr>
  </tbody>
</table>
