<div class="backdrop theme-dark">
  <div class="backdrop__media">
    <img src="/story-assets/sample-landscape.jpg" alt="" />
  </div>

  <div class="backdrop__cover">
    <div class="container medium text-align-center">
      <h1 class="banner-headline text-shadow margin-bottom-4">
        Faucibus scelerisque eleifend donec pretium vulputate
      </h1>

      <a class="button theme-primary box-shadow-1" href="#1">
        <span class="text">Augue Eget Arcu</span>
        <span class="icon icon-arrow-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
