/*

In this file:

// A. Imports
// B. Variables
// C. Responsive Variables
// D. Base Styles
// E. Utilities
// F. Brand
// G. Theme Picker
// H. Docs Layout

*/

//////////////////////////////////////////////
// A. Imports
//////////////////////////////////////////////

@use '@natura11y/core/src/scss/breakpoint';

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
  --primary: #008854;
  --secondary: #004857;
  --dark: #101530;
  --canvas: #f9f9f9;
  --canvas-link: hsl(215, 100%, 40%);
  --dark-link: hsl(215, 100%, 70%);
  --secondary-text: white;

  --body-font-family: 'Figtree', sans-serif;
  --arabic-font-family: 'Amiri', serif;

  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 800;

  --base-font-size: 1rem;
  --type-scale: 1.2;

  --body-line-height: 1.5;
  --header-line-height: 1.125;

  --banner-headline-font-size: 3em;
  --banner-headline-font-weight: var(--font-weight-normal);

  --paragraph-margin-bottom: 1.5em;

  --html-scroll-behavior: auto;
  --narrow-width: 44rem;

  --modal-overlay-opacity: 0.5;
  --button-target-size: 2.75em;

  --code-font-family:
    'JetBrains Mono',
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Consolas,
    Monaco,
    'Liberation Mono',
    monospace;

  --docs-nav-width: 300px;
  --docs-toc-width: 300px;
}

//////////////////////////////////////////////
// C. Responsive Variables
//////////////////////////////////////////////

@include breakpoint.breakpoint-down(md) {
  :root {
    --type-scale: 1.1375;
  }
}

//////////////////////////////////////////////
// D. Base Styles
//////////////////////////////////////////////

@layer base {

  svg {
    fill: currentColor;
  }

  kbd {
    background-color: #eee;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    box-shadow:
      0 1px 1px rgb(0 0 0 / 20%),
      0 2px 0 0 rgb(255 255 255 / 70%) inset;
    color: currentColor;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
  }

  // Inline code

  :is(p, li, td, th) > code {
    background-color: var(--subtle-fill-2);

    border-radius: var(--border-radius-1);

    padding: 0.125em 0.25em;

    font-family: var(--code-font-family);
    font-size: 0.925em;
  }
}

//////////////////////////////////////////////
// E. Utilities
//////////////////////////////////////////////

@layer utility {
  .code-font {
    font-family: var(--code-font-family);
  }

  .arabic-font {
    font-family: var(--arabic-font-family);
  }
}

//////////////////////////////////////////////
// F. Brand
//////////////////////////////////////////////

a[data-logo='brand'] svg > g {
  transition: fill 0.3s ease;
}

a[data-logo='brand']:is(:focus, :hover) .a11y {
  fill: var(--primary);
}

//////////////////////////////////////////////
// G. Theme Picker
//////////////////////////////////////////////

.theme-picker {
  --nav-divider-padding-x: 0.75em;

  align-items: center;
  margin-block: unset;
  position: relative;
}

.theme-picker__dropdown {
  display: none;

  inset-block-start: 100%;
  inset-inline-end: 0;
  position: absolute;

  font-size: var(--font-size-sm);

  &.shown {
    display: block;
  }
}

.theme-picker__dropdown ul > li > button {
  white-space: nowrap;
}

.theme-picker__dropdown [aria-expanded='true'] {
  .nav__text {
    text-decoration: underline;
  }
}

//////////////////////////////////////////////
// H. Docs Layout
//////////////////////////////////////////////

.aspect-ratio-banner {
  aspect-ratio: 2 / 1;

  @include breakpoint.breakpoint-up(lg) {
    aspect-ratio: 3 / 1;
  }
}

.docs-layout {
  min-block-size: 100dvh;
}

.doc-left-rail {
  block-size: 100%;
  inset-block-start: 0;
  max-block-size: 100vh;
  overflow-y: auto;
  padding-block: var(--spacer-3);
  position: sticky;
}

.docs-layout__nav {
  grid-area: nav;
}

.docs-layout__brand {
  display: inline-block;
  margin-block-end: var(--spacer-3);
}

.docs-layout__banner {
  --backdrop-fixed-height: min(420px, 55dvh);
  grid-area: banner;
}

.docs-layout__banner .backdrop__cover > * {
  @media (min-width: 1700px) {
    padding-inline-end: var(--docs-toc-width);
  }
}

.docs-layout__toc {
  border-block-end: var(--border-width) var(--border-style) var(--border-color);
  grid-area: toc;
  padding-block: var(--spacer-4);
}

.docs-layout__body {
  grid-area: body;
  padding-block: var(--spacer-5);
}

.docs-section:first-child {
  margin-block-start: 0;
}

.example-tabs {
  --secondary: #004857;
  --secondary-text: white;
  --tab-nav-pill-active-text-color: var(--secondary-text);
  --tab-nav-pill-active-background-color: var(--secondary);

  font-size: var(--font-size-md);
}

@include breakpoint.breakpoint-up(xl) {
  .docs-layout {
    display: grid;
    grid-template-areas:
      'nav banner'
      'nav toc'
      'nav body';
    grid-template-columns: var(--docs-nav-width) minmax(0, 1fr);
  }

  .docs-layout__nav {
    border-inline-end: var(--border-width) var(--border-style) var(--border-color);
  }

  #docs-sidebar {
    height: auto !important;
    overflow: visible !important;
    padding: revert-layer !important;
    transition: none !important;
    visibility: visible !important;
  }
}

@media (min-width: 1700px) {
  .docs-layout {
    grid-template-areas:
      'nav banner banner'
      'nav body toc';
    grid-template-columns: var(--docs-nav-width) minmax(0, 1fr) var(--docs-toc-width);
  }

  .docs-layout__toc {
    border-block-end: unset;
    border-inline-start: var(--border-width) var(--border-style) var(--border-color);
  }
}
