<nav class="pagination" aria-label="Pagination">
  <ul>
    <li>
      <a href="#1" aria-label="Previous page">
        <span class="icon icon-arrow-left" aria-hidden="true"></span>
      </a>
    </li>
    <li><a href="#1" aria-label="Page 1">1</a></li>
    <li><a href="#1" aria-label="Page 2" aria-current="page">2</a></li>
    <li><a href="#1" aria-label="Page 3">3</a></li>
    <li>
      <a href="#1" aria-label="Next page">
        <span class="icon icon-arrow-right" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</nav>
