/*

In this file:

// A. Variables
// B. Component

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --code-background-color: var(--subtle-fill-1);

    --code-gutter-foreground-color: var(--border-color);
    --code-gutter-highlight-foreground-color: currentColor;

    --code-header-border-color: var(--border-color);

    --code-line-height: 1.75;
    --code-padding-block: var(--spacer-3);

    --code-marker-background-color: color-mix(in srgb, var(--primary) 8%, transparent);
    --code-marker-border-color: color-mix(in srgb, var(--primary) 45%, transparent);

    --code-line-marker-border-color: var(--code-marker-border-color);
    --code-line-marker-border-width: calc(var(--border-width) * 3);

    --code-inline-marker-border-radius: var(--border-radius-1);
    --code-inline-marker-border-width: var(--border-width);
    --code-inline-marker-padding: 0.25em;
}

//////////////////////////////////////////////
// B. Component
//////////////////////////////////////////////

@layer component {

    .example__code {
        background-color: var(--code-background-color);
    }

    .example__code__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacer-2);

        border-block-end: var(--border-width) var(--border-style) var(--code-header-border-color);

        padding: var(--spacer-2) var(--spacer-3);

        font-size: var(--font-size-sm);
    }

    .example__code__language {
        font-weight: var(--body-font-weight-bold);
        text-transform: uppercase;
    }

    .example__code__copy {
        --button-target-size: auto;

        font-size: var(--font-size-sm);
    }

    .example__code .expressive-code .copy {
        display: none;
    }

    .example__code .expressive-code .ec-line.mark {
        position: relative;

        &::before {
            content: "";

            position: absolute;
            inset-block: 0;
            inset-inline-start: 0;

            pointer-events: none;

            width: var(--code-line-marker-border-width);

            background-color: var(--code-line-marker-border-color);
        }
    }

    // Align Expressive Code's line-number gutter with the code inset.

    .example__code .expressive-code .gutter .ln {
        padding-inline-start: var(--container-padding-x);
    }

} // end @layer
