/*

In this file:

// A. Variables
// B. Component

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {

}

//////////////////////////////////////////////
// B. Component
//////////////////////////////////////////////

@layer component {

    // Carousel Block

    .carousel {
        position: relative;
        overflow: hidden;

        display: grid;
        
        width: 100%;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .carousel__slides {
        display: flex;
        flex-direction: row;
        transition: transform 0.5s ease-in-out;
    }

    .carousel__slide {
        min-width: 100%;

        pointer-events: none;

        :is(img, video) {
            width: 100%;
            height: auto;
        }

        &[aria-hidden="false"] {
            opacity: 1;
            pointer-events: auto;
        }

        outline: 6px solid blue;
        outline-offset: -4px;
    }


    .carousel__prev,
    .carousel__next,
    .carousel__indicators {
        position: absolute;
        transform: translateY(-50%);
    }

    .carousel__prev {
        inset: 50% auto auto var(--container-padding-x);
    }

    .carousel__next {
        inset: 50% var(--container-padding-x) auto auto;
    }

    /* Indicators styling */
    .carousel__indicators {
        display: flex;
        justify-content: center;
        
        gap: var(--spacer-2);

        inset: auto auto var(--spacer-3) auto;

        width: 100%;
    }

    .carousel__indicator {
        width: calc(var(--button-target-size) * 0.5);

        aspect-ratio: 1;

        background-color: var(--light);
        
        border-radius: 100%;

        cursor: pointer;
    }

    .carousel__indicator.active {
        background-color: currentColor;
    }

} // end @layer