/*

In this file:

// A. Button Aria Expanded
// B. Variables
// C. Collapse Utility

*/

//////////////////////////////////////////////
// A. Button Aria Expanded
//////////////////////////////////////////////

@layer component {

    .button[aria-expanded="true"] {
        background-color: var(--subtle-fill-2);
    }

} // end @layer

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
    --collapse-animation-duration: 0.3s;
}

//////////////////////////////////////////////
// C. Collapse Utility
//////////////////////////////////////////////

@layer utility {

    .collapse {
        overflow: hidden;

        display: grid;
        grid-template-rows: 0fr;

        // Exit
        transition: grid-template-rows calc(var(--collapse-animation-duration) * 0.75) ease-in;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        > * {
            overflow: hidden;
            opacity: 0;

            // Exit
            transition: opacity calc(var(--collapse-animation-duration) * 0.5) ease-in;

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }

        &.shown {
            grid-template-rows: 1fr;

            // Enter
            transition: grid-template-rows var(--collapse-animation-duration) ease-out;

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }

            > * {
                opacity: 1;

                // Enter
                transition: opacity var(--collapse-animation-duration) ease-out;

                @media (prefers-reduced-motion: reduce) {
                    transition: none;
                }
            }
        }
    }

} // end @layer