/*

In this file:

// A. Modules
// B. Variables
// C. Component

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use 'sass:map';
@use 'sass:math';
@use './breakpoint';
@use './spacing';

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
    --visible-panels: 1;
}

$track-panels: 6;

//////////////////////////////////////////////
// C. Component
//////////////////////////////////////////////

@layer component {

    // Track Block

    .track,
    .track__container {
        position: relative;
    }

    .track {
        ul {
            list-style: none;
            margin: unset;
        }

        background-color: tan;

        overflow: hidden;

        width: 100%;
    }

    .track__container {
        position: relative;

        outline: 3px solid red;
    }

        .track__panels {
            --_gap: var(--gap-size, unset);

            display: flex;

            gap: var(--_gap);
            
            overflow-x: auto;

            scroll-snap-type: inline mandatory;
            scroll-behavior: smooth;

            scrollbar-width: none; /* Hide scrollbar on Firefox */
            -ms-overflow-style: none;  /* IE and Edge */
                
            &:is(::-webkit-scrollbar) {
                display: none; /* Hide scrollbar on WebKit browsers */
            }
    
        }
        
    

    .track__panel {
        display: flex;
        flex: 0 0 calc(100% / var(--visible-panels)); /* Adjusts width based on the number of visible panels */
        align-items: center;
        
        justify-content: start;
        scroll-snap-align: start; /* Snap to the start of each item */
        
        background-color: #ddd;
        font-size: 24px;
        box-sizing: border-box;

        :is(img, video) {
            width: 100%;
            height: auto;
        }

        outline: 2px solid purple;
        outline-offset: -1px;
    }

    .track__prev,
    .track__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        font-size: var(--font-size-sm);
    }

    .track__prev {
        left: 0;
    }

    .track__next {
        right: 0;
    }

    .track__pagination {
        display: flex;
        justify-content: center;
        
        gap: var(--spacer-1);

        inset: auto auto var(--spacer-1) auto;

        width: 100%;

        padding: var(--spacer-1);
    }

    .track__pagination__item {
        display: flex;

        width: calc(var(--button-target-size) * 0.25);

        aspect-ratio: 1;

        background-color: var(--light);
        
        border-radius: 100%;

        cursor: pointer;
    }

    .track__pagination__item.active {
        background-color: black;
    }

    .hide-controls .track__pagination {
        display: none;
    }

    // Generate responsive utility classes for different numbers of visible panels
    @each $breakpoint in map.keys(breakpoint.$breakpoints) {
        @include breakpoint.breakpoint-up($breakpoint) {
            $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

            @for $i from 1 through $track-panels {
                .track--column-#{$i}#{$mod} {
                    --visible-panels: #{$i};
                }
            }
        }
    }

} // end @layer