//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use 'sass:map';
@use 'sass:math';
@use './breakpoint';
@use './spacing';

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
    --visible-panels: 1;

    --panel-peeking: var(--button-target-size);
    
}

$track-panels: 6;

//////////////////////////////////////////////
// C. Component
//////////////////////////////////////////////

@layer component {

    // Track Block

    .track,
    .track__container {
        position: relative;
    }

    .track {
        overflow: hidden;

        ul {
            list-style: none;
        }

        // background-color: tan;
    }

    .track__container {
        position: relative;

        .track__prev,
        .track__next {
            position: absolute;
            inset-block-start: 50%;

            transform: translateY(-50%);
            
            z-index: 20;

            width: var(--panel-peeking);
            display: flex;
            // background-color: yellow;
            justify-content: center;
            padding: var(--spacer-2);
        }

        .track__prev {
            inset-inline-start: 0;
            justify-content: end;
        }

        .track__next {
            inset-inline-end: 0;
            justify-content: start;
        }
    }
    
    .track--peeking {
        --_peeking: var(--panel-peeking);

        .track__container {
            position: relative;
            
            &::before,
            &::after {
                content: '';
                position: absolute;
                inset-block: 0;
                width: var(--panel-peeking);
                background: var(--background-color);
                opacity: 0.75;
                pointer-events: none;

                z-index: 10;
            }

            &::before {
                inset-inline-start: 0;
            }

            &::after {
                inset-inline-end: 0;
            }
        }

        .track__panels {
            padding-inline: var(--panel-peeking);
        }

        .track__panel {
            scroll-margin: var(--panel-peeking);
        }

    }

    .track__panels {  
        position: relative;

        display: grid;

        grid-auto-flow: column;
        grid-auto-columns: calc(100% / var(--visible-panels));

        &[class*='gap-'] {   
            grid-auto-columns: calc((100% / var(--visible-panels)) - (var(--gap-size) * ((var(--visible-panels) - 1) / var(--visible-panels))));
        }

        gap: var(--gap-size);

        overflow-x: auto;

        scroll-snap-type: inline mandatory;
        scroll-behavior: smooth;

        /* Hide scrollbars */
        scrollbar-width: none;
        -ms-overflow-style: none;

        li {
            position: relative;
        }
            
        &:is(::-webkit-scrollbar) {
            display: none;
        }
    }

    .track__panel {
        position: relative;

        display: flex;
        flex-direction: column;

        scroll-snap-align: start;

        > *:is(img, video) {
            width: 100%;
            height: auto;
        }
    }

    .track__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .track__pagination {
        display: flex;
        justify-content: center;
        
        gap: 0.75em;

        [data-page-index] {
            --_size: calc(var(--button-target-size) * 0.675);

            container-type: inline-size;

            display: flex;

            aspect-ratio: 1 / 1;
            width: var(--_size);

            background-color: currentColor;
            border-radius: var(--button-border-radius);

            cursor: pointer;

            &:is(
                .active,
                [aria-current='true']) 
            {
                --border-color: currentColor;

                background-color: transparent;

                border-width: 3px;
                border-style: var(--border-style);
            }
            
            &:focus-visible {
                outline: 3px solid currentColor !important;
                outline-offset: 3px !important;
            }
        }
    }

    .hide-controls :is(
        .track__controls,
        .track__prev,
        .track__next,
        .track__pagination
    ) {
        display: none;
    }

    // Generate responsive utility classes for different numbers of visible panels
    @each $breakpoint in map.keys(breakpoint.$breakpoints) {
        @include breakpoint.breakpoint-up($breakpoint) {
            $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

            @for $i from 1 through $track-panels {
                .track--column-#{$i}#{$mod} {
                    --visible-panels: #{$i};
                }
            }
        }
    }

} // end @layer