/*

In this file:

// A. Modules
// B. Variables
// C. Component

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use 'sass:map';
@use 'sass:math';
@use './breakpoint';
@use './spacing';

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
    --visible-panels: 1;
}

$track-panels: 6;

//////////////////////////////////////////////
// C. Component
//////////////////////////////////////////////

@layer component {

    // Track Block

    .track,
    .track__container {
        position: relative;
    }

    .track {
        overflow: hidden;

        width: 100%;

        ul {
            list-style: none;
        }
    }

    .track__container {
        position: relative;

        .track__prev,
        .track__next {
            position: absolute;
            inset-block-start: 50%;
            transform: translateY(-50%);
            
            z-index: auto;
        }

        .track__prev {
            inset-inline-start: 0;
        }

        .track__next {
            inset-inline-end: 0;
        }
    }

    .track__panels {
        --_gap: var(--gap-size, 0);

        display: flex;

        margin-inline: calc(var(--_gap) / -2);
        
        overflow-x: auto;

        scroll-snap-type: inline mandatory;
        scroll-behavior: auto;

        /* Hide scrollbars */
        scrollbar-width: none;
        -ms-overflow-style: none;
            
        &:is(::-webkit-scrollbar) {
            display: none;
        }
    }

    .track__panel {
        display: flex;
        flex: 0 0 calc(100% / var(--visible-panels));
        align-items: center;
        justify-content: start;

        scroll-snap-align: start;

        padding-inline: calc(var(--_gap) * 0.5);

        > *:is(img, video) {
            width: 100%;
            height: auto;
        }
    }

    .track__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    .track__pagination {
        display: flex;
        justify-content: center;
        
        gap: var(--spacer-1);
    }

    .track__pagination__item {
        --_size: calc(var(--button-target-size) * 0.5);

        display: flex;

        width: var(--_size);
        height: var(--_size);

        background-color: currentColor;
        
        border-radius: 100%;

        cursor: pointer;

        &:is(
            .active,
            [aria-current='true']) 
        {
            background-color: transparent;

            outline: 4px solid currentColor;
            outline-offset: -4px;
        }
    }

    .hide-controls :is(
        .track__controls,
        .track__prev,
        .track__next,
        .track__pagination
    ) {
        display: none;
    }

    // Generate responsive utility classes for different numbers of visible panels
    @each $breakpoint in map.keys(breakpoint.$breakpoints) {
        @include breakpoint.breakpoint-up($breakpoint) {
            $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

            @for $i from 1 through $track-panels {
                .track--column-#{$i}#{$mod} {
                    --visible-panels: #{$i};
                }
            }
        }
    }

} // end @layer