/*

In this file:

// A. Modules
// B. Variables
// C. Box Shadow Utilities
// D. Text Shadow Utility

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "./breakpoint" as breakpoint;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

%box-shadow-vars {
    --box-shadow-hsl: 0 0% 0%;
    --box-shadow-base: 1rem;
    --base-shadow-opacity: 0.125;
}

%text-shadow-vars {
    --text-shadow-hsl: 0 0% 0%;
    --text-shadow-size: 6px;
    --text-shadow-opacity: 100%;
}

[class*="theme-dark"] {
    --base-shadow-opacity: 0.2;
}

//////////////////////////////////////////////
// C. Box Shadow Utilities
//////////////////////////////////////////////

[class*="box-shadow-"] {
    @extend %box-shadow-vars;

    --shadow-opacity: 0;

    box-shadow:
        0 calc(var(--box-shadow-base) * 0.25) calc(var(--box-shadow-base) * 1) hsla(var(--box-shadow-hsl) / calc(var(--shadow-opacity) * 1)),
        0 calc(var(--box-shadow-base) * 1) calc(var(--box-shadow-base) * 2) hsla(var(--box-shadow-hsl) / calc(var(--shadow-opacity) * 0.5)),
        0 calc(var(--box-shadow-base) * 1.5) calc(var(--box-shadow-base) * 3) hsla(var(--box-shadow-hsl) / calc(var(--shadow-opacity) * 0.25));
}

@each $breakpoint in map.keys(breakpoint.$breakpoints) {
    @include breakpoint.breakpoint-up($breakpoint) {
        $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);
        
        .box-shadow-1#{$mod} {
            --box-shadow-base: 0.25rem;
            --shadow-opacity: var(--base-shadow-opacity);
        }

        .box-shadow-2#{$mod} {
            --box-shadow-base: 1rem;
            --shadow-opacity: var(--base-shadow-opacity);
        }

        .box-shadow-3#{$mod} {
            --box-shadow-base: 2rem;
            --shadow-opacity: var(--base-shadow-opacity);
        }
    }
}

//////////////////////////////////////////////
// D. Text Shadow Utility
//////////////////////////////////////////////

.text-shadow {
    @extend %text-shadow-vars;
    --primary-color: 255, 0, 0;

    text-shadow: 0 0 var(--text-shadow-size) hsla(var(--text-shadow-hsl) / var(--text-shadow-opacity));
}